.container {
  border: solid;
  width: 300px;
}

.logo-container {
  border-bottom: 0.1rem solid gray;
}

.logo-wrapper {
  width: 80%;
  margin: 1rem auto;
}

.logo-wrapper > img {
  width: 100%
}

.item-wrapper {
  width: 80%;
  margin: 2rem auto;
}

input::placeholder {
  color: lightgray;
}

.item-wrapper > input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid dimgray;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-sizing: border-box
}

.item-center {
  text-align: center;
}
