body {
  margin: 0;
}

.container {
  width: 300px;
}

.logo-container {
  border-bottom: 0.1rem solid lightgray;
}

.logo-wrapper {
  width: 80%;
  margin: 1rem auto;
}

.logo-wrapper > img {
  width: 100%
}

.item-wrapper {
  width: 80%;
  margin: 2rem auto;
}

input::placeholder {
  color: lightgray;
}

.item-wrapper > input {
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid dimgray;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-sizing: border-box
}

.item-wrapper > input:not(:disabled):not(.disabled) {
  background-color: #fff;
  color: #495057;
}

.item-center {
  text-align: center;
}

input:disabled {
  border-color: rgba(118, 118, 118, 0.3);
  color: darkgray;
}

.color-bg-start {
  background-color: salmon;
}

.bg-animate-color {
  animation: random-bg .5s linear infinite;
}

@keyframes random-bg {
  from {
    filter: hue-rotate(0);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.fun-btn {
  background-color: salmon;
  color: white;
  padding: 2em 3em;
  border: none;
  transition: all .3s ease;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
}

.fun-btn:hover {
  animation: random-bg .5s linear infinite;
}

.in-party {
  background-color: #000 !important;
  color: salmon !important;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
}
